/* Typing animation on Splash page */

.typing::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: white;
    animation: cursorBlink 1s steps(3) infinite;
}

@keyframes cursorBlink {
    0%,
    75% {
        opacity: 1;
    }

    76%,
    100% {
        opacity: 0;
    }
}

.typing {
    position: relative;
}

.typing h1 {
    position: relative;
    color: white;
    letter-spacing: 5px;
    font-size: 4rem;
    overflow: hidden;
    margin-bottom: 0;
    animation: type 5s steps(14);
}

@keyframes type {
    30% {
        width: 367px;
    }
  
    0% {
        width: 0px;
    }
}
