<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HTMelodies - About</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>

    <body>
        <!-- Nav Bar -->
        <nav class="navbar sticky-top navbar-dark navbar-expand-lg" style="background-color: black;">
            <div class="container-fluid my-2">
                <a href="{{url_for('index')}}">
                    <img src="/static/images/musiclogo.png" alt="Logo" height="50" width="50 "class="d-inline-block align-text-top ms-5">
                </a>
                <span class="navbar-brand text-white mb-0 ms-2 h1">
                    <a class="text-decoration-none text-white" href="{{url_for('index')}}">HTMelodies</a>
                </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto me-5">
                        <a class="nav-link text-white" href="{{url_for('index')}}"><strong>Main Menu</strong></a>
                        <a class="nav-link text-white" href="{{url_for('songs')}}"><strong>Songs</strong></a>
                        <a class="nav-link text-white" href="{{url_for('albums')}}"><strong>Albums</strong></a>
                        <a class="nav-link text-white" href="{{url_for('artists')}}"><strong>Artists</strong></a>
                        <a class="nav-link text-white" href="{{url_for('about')}}"><strong>About</strong></a>
                        <div class="nav-link text-white active"><strong>|</strong></div>
                        <a class="nav-link" style="color: rgba(203, 5, 203, 0.863);" href="#"><strong>Search</strong></a>
                        <!-- <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                          </form> -->
                    </div>
                    <!-- <form class="d-flex me-5" role="search">
                        <button class="btn btn-outline-success" type="submit" >Search</button>
                    </form> -->
                </div>
            </div>
        </nav>

        <!-- Background gradient -->
        <div class="bg-image d-flex align-items-center" style="background-image: url('/static/images/splashgradient.jpg');height: 50vh;background-size: cover;background-position: center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col ms-5 d-flex align-items-center">
                        <div>
                            <div class="row">
                                <h1 class="text-white display-2"><strong>About Us</strong></h1>
                            </div>
                            <div class="row">
                                <h2 class="text-light display-6">Meet Our Team</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center me-5">
                        <img src="/static/images/musiclogo.png" alt="Song Image" width="250" height="250" class="ms-auto me-5">
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Container for project member information -->
        <div class="container-fluid mt-5 mb-5">
            <div class="row">
                {% for developer in developer_data %}
                    {% for key in developer %}

                        <!-- Large and medium windows: 3 people per row, Small window: 1 person per row -->
                        <div class="col-lg-4 col-md-4 col-sm-12 p-2">
                            <div class="card" style="background-color: black;">
                                <div class="card-body" style="color: white;">

                                    <!-- Name and picture -->
                                    <h5 class="card-title">{{developer[key][0]}}</h5>
                                    <h6 class="card-subtitle mb-2 text-secondary">Developer</h6>
                                    <div style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
                                        <img src="{{developer[key][1]}}" alt="Song Image" width="150" height="150" style="overflow:hidden;" class="mt-3 mb-3 rounded-circle">
                                    </div>
                                    
                                    <!-- Accordion -->
                                    <div class="accordion accordion-flush" id="accordionFlushDevelopers{{key}}">

                                        <!-- Bio -->
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne{{key}}">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{key}}" aria-expanded="false" aria-controls="flush-collapseOne{{key}}">Bio</button> 
                                            </h2>
                                            <div id="flush-collapseOne{{key}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne{{key}}" data-bs-parent="#accordionFlushDevelopers{{key}}">
                                                <div class="accordion-body">
                                                    {% for para in developer[key][2] %}
                                                        <p>{{para}}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Responsibilities -->
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo{{key}}">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo{{key}}" aria-expanded="false" aria-controls="flush-collapseTwo{{key}}">Responsibilities</button> 
                                            </h2>
                                            <div id="flush-collapseTwo{{key}}" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo{{key}}" data-bs-parent="#accordionFlushDevelopers{{key}}">
                                                <div class="accordion-body">
                                                    <ul>
                                                        {% for resp in developer[key][3] %}
                                                            <li>{{resp}}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Stats: Number of commits, issues and tests -->
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingThree{{key}}">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree{{key}}" aria-expanded="false" aria-controls="flush-collapseThree{{key}}">Stats</button> 
                                            </h2>
                                            <div id="flush-collapseThree{{key}}" class="accordion-collapse collapse" aria-labelledby="flush-headingThree{{key}}" data-bs-parent="#accordionFlushDevelopers{{key}}">
                                                <div class="accordion-body">
                                                    <p style="text-align:left;"><strong>Total Commits</strong>
                                                        <span style="float:right;">{{developer[key][4]}}</span></p>
                                                    <p style="text-align:left;"><strong>Total Issues</strong>
                                                        <span style="float:right;">{{developer[key][5]}}</span></p>
                                                    <p style="text-align:left;"><strong>Total Tests</strong>
                                                        <span style="float:right;">{{developer[key][6]}}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <!-- Container for project stats -->
        <div class="container-fluid mt-5 mb-5">
            <div class="row"><h1>Project Stats</h1></div>
            <div class="row">

                <!-- Large and medium windows: 3 stats per row, Small window: 1 stat per row -->
                <div class="col-lg-4 col-md-4 col-sm-12 p-2">
                    <div class="card" style="background-color: black;">
                        <div class="card-body" style="color: white;">
                            <h5 class="card-title">{{stats_data[0]}}</h5>
                            <h6 class="card-subtitle mb-2 text-secondary">Total Commits</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 p-2">
                    <div class="card" style="background-color: black;">
                        <div class="card-body" style="color: white;">
                            <h5 class="card-title">{{stats_data[1]}}</h5>
                            <h6 class="card-subtitle mb-2 text-secondary">Total Issues</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 p-2">
                    <div class="card" style="background-color: black;">
                        <div class="card-body" style="color: white;">
                            <h5 class="card-title">{{stats_data[2]}}</h5>
                            <h6 class="card-subtitle mb-2 text-secondary">Total Tests</h6>
                        </div>
                    </div>
                </div>

                <!-- Large and medium windows: 2 stats per row, Small window: 1 stat per row -->
                <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                    <div class="card" style="background-color: black;">
                        <div class="card-body" style="color: white;">
                            <h5 class="card-title mb-2">Postman API</h5>
                            <a href="{{stats_data[3]}}" target="_blank" class="btn btn-outline-light mb-2">View API</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                    <div class="card" style="background-color: black;">
                        <div class="card-body" style="color: white;">
                            <h5 class="card-title mb-2">GitLab Issue Tracker</h5>
                            <a href="{{stats_data[4]}}" target="_blank" class="btn btn-outline-light mb-2">View Issues</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                    <div class="card" style="background-color: black;">
                        <div class="card-body" style="color: white;">
                            <h5 class="card-title mb-2">GitLab Repo</h5>
                            <a href="{{stats_data[5]}}" target="_blank" class="btn btn-outline-light mb-2">View Repo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                    <div class="card" style="background-color: black;">
                        <div class="card-body" style="color: white;">
                            <h5 class="card-title mb-2">GitLab Wiki</h5>
                            <a href="{{stats_data[6]}}" target="_blank" class="btn btn-outline-light mb-2">View Wiki</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Container for project data -->
        <div class="container-fluid mt-5 mb-5">
            <div class="row"><h1>Project Data</h1></div>
            <div class="row">

                <!-- Large and medium windows: 2 data fields per row, Small window: 1 data field per row -->
                <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                    <div class="card" style="background-color: black;">
                        <div class="card-body" style="color: white;">
                            <h5 class="card-title mb-2">Sources</h5>
                            <div class="row">
                                {% for source in data_data[0]: %}
                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                                        <a href="{{data_data[0][source]}}" target="_blank" class="btn btn-outline-light">View {{source}} Data</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                    <div class="card" style="background-color: black;">
                        <div class="card-body" style="color: white;">
                            <h5 class="card-title mb-2">Postman API</h5>
                            <a href="{{data_data[1]}}" target="_blank" class="btn btn-outline-light">View API</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 p-2">
                    <div class="card" style="background-color: black;">
                        <div class="card-body" style="color: white;">
                            <h5 class="card-title mb-2">Descriptions</h5>
                            <h6 class="card-subtitle mb-2 text-secondary">Data Scraping</h6>
                            <ul>
                                {% for desc in data_data[2]: %}
                                    <li>{{desc}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Container for project tools -->
        <div class="container-fluid mt-5 mb-5">
            <div class="row"><h1>Project Tools</h1></div>
            <div class="row">

                <!-- Large and medium windows: 2 tools per row, Small window: 1 tool per row -->
                <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                    <div class="card" style="background-color: black;">
                        <div class="card-body" style="color: white;">
                            <h5 class="card-title mb-2">Front-end Tools</h5>
                            <ul>
                                {% for tool in tools_data[0]: %}
                                    <li><a href="{{tools_data[0][tool]}}" target="_blank">{{tool}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 p-2">
                    <div class="card" style="background-color: black;">
                        <div class="card-body" style="color: white;">
                            <h5 class="card-title mb-2">Back-end Tools</h5>
                            <ul>
                                {% for tool in tools_data[1]: %}
                                    <li><a href="{{tools_data[1][tool]}}" target="_blank">{{tool}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- All windows: 1 tool per row -->
                <div class="col-lg-12 col-md-12 col-sm-12 p-2">
                    <div class="card" style="background-color: black;">
                        <div class="card-body" style="color: white;">
                            <h5 class="card-title mb-2">Other Tools</h5>

                            <!-- Split number of links in half -->
                            <!-- Large and medium windows: 2 tools per row, Small window: 1 tool per row -->
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <ul>
                                        {% for tool in tools_data[2][0]: %}
                                            <li><a href="{{tools_data[2][0][tool]}}" target="_blank">{{tool}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <ul>
                                        {% for tool in tools_data[2][1]: %}
                                            <li><a href="{{tools_data[2][1][tool]}}" target="_blank">{{tool}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>