<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>HTMelodies - {{id}}</title>
    </head>
    
    <body>
        <!-- Nav Bar -->
        <nav class="navbar sticky-top navbar-dark navbar-expand-lg" style="background-color: black;">
            <div class="container-fluid my-2">
                <a href="{{url_for('index')}}">
                    <img src="/static/images/musiclogo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top ms-5">
                </a>
                <span class="navbar-brand text-white mb-0 ms-2 h1">
                    <a class="text-decoration-none text-white" href="{{url_for('index')}}">HTMelodies</a>
                </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto me-5">
                        <a class="nav-link text-white" href="{{url_for('index')}}"><strong>Main Menu</strong></a>
                        <a class="nav-link text-white" href="{{url_for('songs')}}"><strong>Songs</strong></a>
                        <a class="nav-link text-white" href="{{url_for('albums')}}"><strong>Albums</strong></a>
                        <a class="nav-link text-white" href="{{url_for('artists')}}"><strong>Artists</strong></a>
                        <a class="nav-link text-white" href="{{url_for('about')}}"><strong>About</strong></a>
                        <div class="nav-link text-white active"><strong>|</strong></div>
                        <a class="nav-link" style="color: rgba(203, 5, 203, 0.863);" href="#"><strong>Search</strong></a>
                        <!-- <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form> -->
                    </div>
                    <!-- <form class="d-flex me-5" role="search">
                        <button class="btn btn-outline-success" type="submit" >Search</button>
                    </form> -->
                </div>
            </div>
        </nav>
        
        <!-- Background gradient -->
        <div class="bg-image d-flex align-items-center" style="background-image: url('/static/images/splashgradient.jpg');height: 50vh;background-size: cover;background-position: center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col ms-5 d-flex align-items-center">
                        <div>
                            <div class="row">
                                <h1 class="text-white display-2"><strong>{{id}}</strong></h1>
                            </div>
                            <div class="row">
                                <a href="{{url_for('artist', id = specific_album_data[0])}}"
                                style="text-decoration: none;">
                                    <h2 class="text-light display-6">{{specific_album_data[0]}}</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center me-5">
                        <img src="/static/images/musiclogo.png" alt="Song Image" width="250" height="250" class="ms-auto me-5">
                    </div>
                </div>
            </div>
        </div>

        <!-- Container for property cards -->
        <div class="d-flex align-items-center" style="height: 50vh">
            <div class="container-fluid">
                <div class="row">
                    <div class="col my-1">
                        <div class="card h-100" style="background-color:black">
                            <div class="card-body" style="color:white;">
                                <h5 class="card-title">{{specific_album_data[1]}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Number of Songs</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col my-1">
                        <div class="card h-100" style="background-color:black">
                            <div class="card-body" style="color:white;">
                                <h5 class="card-title">{{specific_album_data[2]}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Release Date</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col my-1">
                        <div class="card h-100" style="background-color:black">
                            <div class="card-body" style="color:white;">
                                <h5 class="card-title">{{specific_album_data[4]}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Language</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col my-1">
                        <div class="card h-100" style="background-color:black">
                            <div class="card-body" style="color:white;">
                                <h5 class="card-title">{{specific_album_data[5]}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Duration</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>

