<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HTMelodies</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="/static/css/typing.css" rel="stylesheet">
    </head>
    <body>
        <!-- Nav Bar -->
        <nav class="navbar sticky-top navbar-dark navbar-expand-lg" style="background-color: black;">
            <div class="container-fluid my-2">
                <a href="{{url_for('index')}}">
                    <img src="/static/images/musiclogo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top ms-5">
                </a>
                <span class="navbar-brand text-white mb-0 ms-2 h1">
                    <a class="text-decoration-none text-white" href="{{url_for('index')}}">HTMelodies</a>
                </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto me-5">
                        <a class="nav-link text-white" href="{{url_for('index')}}"><strong>Main Menu</strong></a>
                        <a class="nav-link text-white" href="{{url_for('songs')}}"><strong>Songs</strong></a>
                        <a class="nav-link text-white" href="{{url_for('albums')}}"><strong>Albums</strong></a>
                        <a class="nav-link text-white" href="{{url_for('artists')}}"><strong>Artists</strong></a>
                        <a class="nav-link text-white" href="{{url_for('about')}}"><strong>About</strong></a>
                        <div class="nav-link text-white active"><strong>|</strong></div>
                        <a class="nav-link" style="color: rgba(203, 5, 203, 0.863);" href="#"><strong>Search</strong></a>
                        <!-- <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                          </form> -->
                    </div>
                    <!-- <form class="d-flex me-5" role="search">
                        <button class="btn btn-outline-success" type="submit" >Search</button>
                    </form> -->
                </div>
            </div>
        </nav>
        <!-- Background gradient -->
        <div class="bg-image p-3" style="background-image: url('/static/images/splashgradient.jpg');height: 87vh;background-size: cover;background-position: center"> <!-- Need to adjust height value -->
            <div class="h-100 d-flex justify-content-center align-items-center">
                <div class = "typing">
                    <h1 class="text-white display-3">HTMelodies</h1>
                </div>
            </div>
            <div class="position-relative top-0 start-50 translate-middle">
                <div class="position-absolute bottom-0 start-50 translate-middle">
                    <a href="#icons">
                        <!-- <img src="https://raw.githubusercontent.com/solodev/scroll-down-anchor/master/images/arrow-down-1.png" 
                            width="75" height="75" style="opacity: 0.75;"
                            class="img-fluid animated fadeInDown"/> -->
                            <!-- <img src="/static/images/chevron.png"
                            width="50" height="50" style="opacity: 0.5;"
                            class="img-fluid animated fadeInDown"/> -->
                            <img
                                data-mdb-toggle="animation"
                                data-mdb-animation-start="onHover"
                                data-mdb-animation-reset="true"
                                data-mdb-animation="slide-right"
                                src="/static/images/chevron.png"
                                class="img-fluid"
                                width="50"
                                height="50"
                                style="opacity: 0.5;"
                            />
                        </i>
                    </a>
                </div>
            </div>
            
            <!-- <div class="h-50 d-flex justify-content-center align-items-center">
                <div>
                    <a href="#icons">
                        <img src="https://raw.githubusercontent.com/solodev/scroll-down-anchor/master/images/arrow-down-1.png" class="img-fluid">
                    </a>
                </div>
            </div> -->
        </div>
        <div class="bg-black" style="height: 5vh"></div> <!-- Need to adjust height value -->
        <div class="bg-white" style="height: 44vh" id="icons"> <!-- Need to adjust height value -->
            <div class="h-100 d-flex justify-content-center align-items-center">
                <div>
                    <h1 class="text-black display-3">Musical Fidelity</h1>
                </div>
            </div>
        </div>

        <!-- Container for songs, albums, and artists -->
        <div class="container-fluid align-items-center">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <a href="{{url_for('songs')}}">
                        <img src="https://i.scdn.co/image/ab671c3d0000f430678067184805befd38aa0f57" class="img-fluid">
                    </a>
                </div>
                <div class="col d-flex justify-content-center">
                    <a href="{{url_for('albums')}}">
                        <img src="https://i.scdn.co/image/ab671c3d0000f430a6f822749d5c25c32ee31d66" class="img-fluid">
                    </a>
                </div>
                <div class="col d-flex justify-content-center">
                    <a href="{{url_for('artists')}}">
                        <img src="https://i.scdn.co/image/ab671c3d0000f430eb43023b5332389f5094530d" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    <a href="{{url_for('songs')}}" class="h2 text-decoration-none" style="color: rgba(100, 11, 229, 0.863);"><strong>Songs</strong></a>
                </div>
                <div class="col d-flex justify-content-center">
                    <a href="{{url_for('albums')}}" class="h2 text-decoration-none" style="color: rgba(100, 11, 229, 0.863);"><strong>Albums</strong></a>
                </div>
                <div class="col d-flex justify-content-center">
                    <a href="{{url_for('artists')}}" class="h2 text-decoration-none" style="color: rgba(100, 11, 229, 0.863);"><strong>Artists</strong></a>
                </div>
            </div>
        </div>
        <div class="bg-white" style="height: 24vh"></div> <!-- Need to adjust height value -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>


