<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTMelodies - Songs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/static/css/carousel.css" rel="stylesheet">
  </head>
    <body>
        <!-- Nav Bar -->
        <nav class="navbar sticky-top navbar-dark navbar-expand-lg" style="background-color: black;">
            <div class="container-fluid my-2">
                <a href="{{url_for('index')}}">
                    <img src="/static/images/musiclogo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top ms-5">
                </a>
                <span class="navbar-brand text-white mb-0 ms-2 h1">
                    <a class="text-decoration-none text-white" href="{{url_for('index')}}">HTMelodies</a>
                </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto me-5">
                        <a class="nav-link text-white" href="{{url_for('index')}}"><strong>Main Menu</strong></a>
                        <a class="nav-link text-white" href="{{url_for('songs')}}"><strong>Songs</strong></a>
                        <a class="nav-link text-white" href="{{url_for('albums')}}"><strong>Albums</strong></a>
                        <a class="nav-link text-white" href="{{url_for('artists')}}"><strong>Artists</strong></a>
                        <a class="nav-link text-white" href="{{url_for('about')}}"><strong>About</strong></a>
                        <div class="nav-link text-white active"><strong>|</strong></div>
                        <a class="nav-link" style="color: rgba(203, 5, 203, 0.863);" href="#"><strong>Search</strong></a>
                        <!-- <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                          </form> -->
                    </div>
                    <!-- <form class="d-flex me-5" role="search">
                        <button class="btn btn-outline-success" type="submit" >Search</button>
                    </form> -->
                </div>
            </div>
        </nav>
        <!-- Background gradient -->
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="bg-image" style="background-image: url('/static/images/splashgradient.jpg');height: 50vh;">
                    <div class="h-100 d-flex align-items-center p-5">
                        <h1 class="text-white display-1"><strong>Find Songs</strong></h1>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="bg-image" 
                    style="
                        background-image: url('https://www.adobe.com/content/dam/cc/us/en/creativecloud/photography/discover/concert-photography/thumbnail.jpeg');
                        height: 50vh;
                        background-size: contain;">
                </div>
              </div>
              <div class="carousel-item">
                <div class="bg-image" 
                    style="
                        background-image: url('https://cdn.mos.cms.futurecdn.net/rtKz3ipbmux3aR2gnNqKCC.jpg');
                        height: 50vh;
                        background-size: contain;">
                </div>
              </div>
            </div>
          </div>
        <!-- <div class="bg-image" style="background-image: url('/static/images/splashgradient.jpg');height: 50vh;">
            <div class="h-100 d-flex align-items-center p-5">
                <h1 class="text-white display-1">Explore Songs</h1>
            </div>
        </div> -->
        <!-- <div class="container my-2"> -->
        <div class="bg-black" style="height: 2vh"></div>
        <div class="shadow-4 rounded-1 overflow-hidden p-1">
            <table class="table align-middle mb-0 bg-white sortable table-hover" width="100%">
                <thead class="bg-light">
                    <!-- Creating a sortable table of songs and their respective artists -->
                    <tr>
                        <!-- When "Song" or "Artist" is hovered, it will display the appropriate cursor -->
                        <style>
                            th {
                                cursor: pointer;
                            }
                        </style>
                        <th>Rank</th>
                        <th>Song</th>
                        <th>Artist</th>
                        <th>Album</th>
                        <th>Release Date</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in song_data %}
                        {% for key in song %}
                            <tr class="item">
                                <td>1</td>
                                <td>
                                    <a href="{{url_for('song', id = key)}}" class="list-group-item list-group-item-action"><p class="mb-1">{{key}}</p></a>
                                    <p class="text-muted mb-0">{{song[key][3]}}</p>
                                </td>
                                <td>
                                    <div class = "d-flex align-items-center">
                                        <a href="{{url_for('artist', id = song[key][0])}}">
                                            <img
                                                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                                alt=""
                                                style="width: 45px; height: 45px"
                                                class="rounded-circle"
                                            />
                                        </a>
                                        <div class="ms-3">
                                            <a href="{{url_for('artist', id = song[key][0])}}" class="list-group-item list-group-item-action">
                                                <p class="mb-1">{{song[key][0]}}</p>
                                            </a>
                                            <p class="text-muted mb-0">Pop</p>
                                            <!-- <a href="{{url_for('artist', id = song[key][0])}}" class="list-group-item list-group-item-action">{{song[key][0]}}</a> -->
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class = "d-flex align-items-center">
                                        <a href="{{url_for('album', id = song[key][1])}}">
                                            <img
                                                src="https://www.designwizard.com/wp-content/uploads/2019/09/26-Design-Wizard-Album-Cover.jpg"
                                                alt=""
                                                style="width: 45px; height: 45px"
                                                class="rounded"
                                            />
                                        </a>
                                        <div class="ms-3">
                                            <a href="{{url_for('album', id = song[key][1])}}" class="list-group-item list-group-item-action">
                                                <p class="mb-1">{{song[key][1]}}</p>
                                            </a>
                                            <!-- <a href="{{url_for('artist', id = song[key][0])}}" class="list-group-item list-group-item-action">{{song[key][0]}}</a> -->
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{song[key][2]}}
                                </td>
                                <td>
                                    {{song[key][4]}}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- </div> -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    </body>
</html>

